@font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}

.header {
    /* width: 376px;
    height: 200px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0%;
}

.contain {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 1.5rem;
    font-size: 1.4rem;
    padding-top: 2.5rem;
}

.About>ul>li {
    grid-row: 1/2;
    grid-column: 2/3;
    list-style-type: none;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    margin: 7px;
}

.donate_button {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 312px;
    height: 40px;
    margin-left: 1.6rem;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    border: #C1F7D5;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    cursor: pointer;
    text-decoration: none;
}
.button_text{
    text-decoration: none;
    color: #354463;

}

.main {
    background-image: url("/assets/about-us/annie-spratt-427339-unsplash.png");
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-size: 100% 100%;
    padding-left: 5%;
    padding-bottom: 2rem;
    
}

.main>h1 {
    grid-row: 1/2;
    grid-column: 1/3;
    font-family: Flood;
    margin-right: 100px;
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #ffffff;
}

.the_issue {
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: #354463;
    color: #ffffff;
    height: 1.5rem;
    width: 158px;
    text-align: center;
    padding-bottom: 8%;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;

}
.main .climate {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    background-color: #ffffff;
    color: #354463;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
   
    
}

.climate>p {
    width: 248px;
    height: 200px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}


