@font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}
*{
    /* margin: 0rem;
    padding: 0rem; */
}
.header{
    padding: 2rem;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.contain{
    width: 160px;
    height: 63px;


    margin-top: -0.8rem;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}
.menu li{
    list-style: none;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
}
.donate_button{
    width: 160px;
    height: 48px;

    border: none;

    background: #C1F7D5 ;
    border-radius: 100px;
}
.button_text{
    width: 160px;

    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    text-decoration: none;
}

.main {
    background-image: url("/assets/home/annie-spratt-135307-unsplash@2x.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 150px;
    padding-top: 150px;
}

.main>h1{
    font-family: Flood;
    margin-right: 20rem;
    text-align: right;
    font: normal normal normal 5rem/4rem Flood;
    letter-spacing: 0px;
    color: #ffffff;
    width: 296px;
    height: 224px;
}

.the_issue{
    background-color: #354463;
    color: #ffffff;
    width: 160px;
    height: 0.rem;
    text-align: center;
    width: 10rem;
    margin-left: 15rem;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -2rem;
    width: 10rem;
    height: 2.5rem;

}
.the_issue > p{
    width: 158px;
    height: 14px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.main >.climate-1{
    text-align: center;
    background-color: #ffffff;
    color: #354463;
    width: 544px;
    height: 416px;
    margin-left: -28rem;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.climate-1>p {
    width: 416px;
    height: 221px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.climate-1>a {
    background: transparent url('img/Read more about this environmental and social cause.png') 0% 0% no-repeat padding-box;
    text-align: center;
    color: #354463;
    padding-left: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
}

.take_action {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    background-color: #C1F7D5;
    height: 15rem;
    padding-left:5rem ;
}

.take_action_text {
    background-color: #354463;
    width: 10rem;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: -1rem;
    margin-left: -45rem;
    
}

.take_action_text>p {
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
    padding-bottom: 1rem;

}

.learn {
   
    margin-top: auto;
    margin-bottom: auto;
}

.learn>h1 {
    width: 76px;
    height: 28px;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.learn>p {
    width: 232px;
    height: 52px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
}

.Volunteer {
    margin-top: auto;
    margin-bottom: auto;
}

.Volunteer>h1 {
    width: 76px;
    height: 28px;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.Volunteer>p {
    width: 232px;
    height: 52px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
}

.Share {
    margin-left: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.Share>h1 {
    width: 76px;
    height: 28px;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.Share>p {
    width: 232px;
    height: 52px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
}

.Donate{
    margin-top: auto;
    margin-bottom: auto;
}

.Donate>h1 {
    width: 76px;
    height: 28px;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
}

.Donate>p {
    width: 232px;
    height: 52px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
}

.what_we_do {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    background-color: #354463;
}

.what {
    grid-row: 1/2;
    grid-column: 1/4;
    background-color: #FFFFFF;
    width: 10rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    
}

.what>P {
    color: #354463;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
}

.mission {
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: center;
    width: 1122px;
    height: 140px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13rem;
}

.inner_container {
    grid-row: 3/4;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 320px;
    height: 528px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.inner_container>h3 {
    width: 288px;
    height: 70px;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12rem;
}

.inner_container>p {
    width: 256px;
    height: 144px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    margin-left: auto;
    margin-right: auto;
}

.inner_container>.read_more1 {
    width: 160px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: left;
}

.inner_container>.read_more1>p {
    width: 160px;
    height: 22px;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 2rem;

}

.image1 {
    grid-row: 3/4;
    grid-column: 1/2;
    background-image: url("/assets/home/tree-planting.png");
    background-repeat: no-repeat;
    width: 20rem;
    height: 14rem;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: -3rem;
    /* margin-left: 11.5rem; */

}

.inner_container2 {
    grid-row: 3/4;
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 320px;
    height: 528px;
    /* margin-left: auto; */
    margin-right: auto;
    margin-bottom: 3rem;
}

.inner_container2>h3 {
    width: 288px;
    height: 70px;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12rem;
}

.inner_container2>p {
    width: 256px;
    height: 144px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    margin-left: auto;
    margin-right: auto;
}

.inner_container2>.read_more2 {
    width: 160px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: left;
    cursor: pointer;
}

.inner_container2>.read_more2>p {
    width: 160px;
    height: 22px;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.image2 {
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url("/assets/home/education-training.png");
    background-repeat: no-repeat;
    width: 20rem;
    height: 14rem;
    margin-left: auto;
    margin-right: 6rem;
    margin-top: -3rem;
    /* margin-left: 11.5rem; */
}

.inner_container3 {
    grid-row: 3/4;
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 320px;
    height: 528px;
    /* margin-left: auto; */
    margin-right: auto;
    margin-bottom: 3rem;
}

.inner_container3>h3 {
    width: 288px;
    height: 70px;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12rem;
}

.inner_container3>p {
    width: 256px;
    height: 144px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    margin-left: auto;
    margin-right: auto;
}

.inner_container3>.read_more3 {
    width: 160px;
    height: 48px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: left;
    cursor: pointer;
}

.inner_container3>.read_more3>p {
    width: 160px;
    height: 22px;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 2rem;
    padding-bottom: 1rem;

}

.image3 {
    grid-row: 3/4;
    grid-column: 3/4;
    background-image: url("/assets/home/advocacy.png");
    background-repeat: no-repeat;
    width: 20rem;
    height: 14rem;
    margin-left: 2.5rem;
    margin-right: auto;
    margin-top: -3rem;
    
}

.climate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("/assets/home/did-you-know-background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 10rem;
    padding-bottom: 18rem;
}

.climate > h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    font-family: Flood;
    margin-right: 100px;
    text-align: left;
    font: normal normal normal 64px/66px Flood;
    letter-spacing: 0px;
    color: #ffffff;
    width: 437px;
    height: 300px;
    margin-left: 4.5rem;
    margin-top: 120px;
    

}

.climate>.take_action {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 15rem;
    height: 58px;
    /* margin-left: 2.5rem; */
    /* padding-bottom: 2rem; */
    cursor: pointer;
    padding-left: 0%;
    margin-left: 5rem;
    border: none;
    text-align: center;
    border-radius: 100px;
    margin-bottom: 4rem;
    /* margin-left: 4rem; */

}

.climate .take_action>p {
    width: auto;
    height: 22px;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: auto;
    margin-right: auto;

}

.climate>.did_you_know {
    padding-top: -1rem;
    grid-row: 1/2;
    grid-column: 2/3;
    width: 160px;
    height: 40px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    background-color: #354463;
    margin-left: auto;
    margin-right: 33rem;
    margin-top: 3.5rem;
}

.climate>.did_you_know>p {
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.climate>.three_out_four {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #FFFFFF;
    width: 544px;
    height: 232px;
    /* margin-left: auto; */
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5rem;
}
/* .climate>.three_out_four {
    grid-row: 2;
    grid-column: 2/3;
    background-color: #FFFFFF;
    width: 312px;
    height: 136px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
} */

.climate>.three_out_four>h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 196px;
    height: 44px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-bottom: 0rem;
    margin-left: 2rem;
    padding-top: 1rem;

}

.climate >.three_out_four>p {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 336px;
    height: 68px;
    background: transparent url('img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 2rem;
    margin-bottom: 2.5rem;
}

.climate>.three_out_four>.twiter {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-twitter-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 5rem;
    padding-top: rem;
    margin-right: auto;

}

.climate>.three_out_four>.facebook {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-facebook-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 5rem;
    margin-top: 1rem;

}

.climate>.one_million {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #FFFFFF;
    width: 544px;
    height: 232px;
    /* margin-left: auto; */
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: -1rem;


}

.climate>.one_million>h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 44px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-bottom: 0rem;
    margin-left: 2rem;
    padding-top: 1rem;
}

.climate>.one_million>p {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 336px;
    height: 68px;
    background: transparent url('img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 2rem;
    margin-bottom: 2.5rem;

}

.climate>.one_million>.twiter {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-twitter-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;
}

.climate>.one_million>.facebook {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-facebook-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;

}

.climate>.thirty {
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: #FFFFFF;
    width: 544px;
    height: 232px;
    /* margin-left: auto; */
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5rem;
}

.climate>.thirty>h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 44px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-bottom: 0rem;
    margin-left: 2rem;
    padding-top: 1rem;

}

.climate>.thirty>p {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 336px;
    height: 68px;
    background: transparent url('img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 2rem;
    margin-bottom: 2.5rem;

}

.climate>.thirty>.twiter {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-twitter-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;
}

.climate>.thirty>.facebook {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-facebook-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;

}

.climate>.two_million {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: #FFFFFF;
    width: 544px;
    height: 232px;
    /* margin-left: auto; */
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5rem;
}

.climate>.two_million>h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    height: 44px;
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-bottom: 0rem;
    margin-left: 2rem;
    padding-top: 1rem;
}

.climate>.two_million>p {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 336px;
    height: 68px;
    background: transparent url('img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin-left: 2rem;
    margin-bottom: 2.5rem;

}

.climate>.two_million>.twiter {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #C1F7D5;

    background-size: 100% 100%;
    margin-left: 2rem;
    margin-top: 1rem;
    padding-top: 2px;
    border-radius: 100%;

    text-align: center;
}

.climate>.two_million>.facebook {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #C1F7D5;
    margin-left: 2rem;
    margin-top: 1rem;

}

.two_million div {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #C1F7D5;
}

.two_million div img {
    margin-top: 1rem;
    margin-left: .7rem;
}

.three_out_four div {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #C1F7D5;
}

.three_out_four div img {
    margin-top: 1rem;
    margin-left: .7rem;
}

.one_million div {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #C1F7D5;
}

.one_million div img {
    margin-top: 1rem;
    margin-left: .7rem;
}

.thirty div {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #C1F7D5;
}

.thirty div img {
    margin-top: 1rem;
    margin-left: .7rem;
}

.our_story {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4rem;
}

.our_story>.story {
    grid-row: 1/3;
    grid-column: 2/3;
    width: 160px;
    height: 40px;
    background-color: #354463;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 4.5rem;
    margin-left: 13rem;

}

.our_story>.story>p {
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.our_story>.story_image {
    grid-row: 1/3;
    grid-column: 2/3;
    background-image: url("/assets/home/lady-baby.png");
    background-repeat: no-repeat;
    width: 640px;
    height: 568px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.our_story>.story_text {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: #354463;
    display: flex;
    flex-direction: column;
    width: 544px;
    height: 344px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 14rem;
    margin-right: 44rem;
}

.our_story>.story_text>p {
    width: 416px;
    height: 196px;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.our_story>.story_text>.smaller_text {
    width: 287px;
    height: 14px;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.story_button {
    background-color: #C1F7D5;
    border: none;
    border-radius: 100px;
    width: 150px;
    height: 40px;
    margin-left: 120px;
    margin-right: 120px;

    cursor: pointer;


}

.story_button>p {
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;

    padding-bottom: 40px;

}

.event_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #354463;
    padding: 40px;
}

.event_container>.action {
    grid-row: 1/2;
    grid-column: 1/3;

}
.event_container>.action  > p{
    font-family: Flood;
    margin-left: 4rem;
    width: 847px;
    height: 148px;
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

}
.event_container>.even {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 153px;
    height: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    margin-left: 13rem;
    
}

.event_container>.even>p {
    width: 160px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;

}

.event_container>.event_image {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url("/assets/home/tree-planting.png");
    width: 576px;
    height: 576px;
    margin-left: auto;
    margin-right: auto;
}

.event_container>.earth {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 448px;
    height: 165px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.event_container>.earth> h3 {
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;

}

.event_container>.earth_text {
    grid-row: 2/4;
    grid-column: 2/3;
    margin-top: 14rem;
}
.event_container>.earth_text > p{
    width: 448px;
    height: 153px;
    text-align: left;
    font: normal normal 300 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

}
.event{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 30rem;
    margin-left: 13rem;
}
.event_container>.event>.event_button {
    
    border: none;
    width: 160px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 2rem;


}

.event_container>.event>.event_button>p {

    width: 156px;
    height: 22px;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;

}

.event_container>.latest {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 153px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-left: 9rem;
}

.event_container>.latest>p {
    width: 160px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;

}

.event_container>.latest_image {
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url("/assets/home/meeting.png");
    width: 576px;
    height: 576px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.event_container>.earth_day {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 352px;
    height: 165px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    margin-left: 9rem;
}

.event_container>.earth_day>h3 {
    text-align: left;
    font: normal normal bold 44px/56px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.event_container>.earth_text1 {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22rem;
    margin-left: 9rem;
    width: 448px;
    height: 154px;
}


.event_container>.earth_text1>p {
    text-align: left;
    font: normal normal 300 20px/32px Helvetica;
    letter-spacing: -0.4px;
    color: #FFFFFF;
}
.event_container>.latest_button{
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 9rem;
    margin-top: 35rem;
}
.event_container>.latest_button>.latest_button1 {

    width: 156px;
    height: 40px;
    background: #C1F7D5;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.event_container>.latest_button>.latest_button1 > p{
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-bottom: 1rem;
}
.subscribe {
    display: flex;
    flex-direction: row;
    padding: 30px;
    background-color: #C1F7D5;
}

.subscribe h2 {
    margin-top: 0px;
    width: 544px;
    height: 70px;
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-right: auto;
    margin-left: 3rem;
}

.subscribe button {
    width: 212px;
    height: 2.8rem;
    margin-left: 3.5px;
    background-color: #354463;
    color: #C1F7D5;
    font: normal normal bold 16px/19px Helvetica;
    border: none;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    /* margin-right: 8rem; */
}

.subscribe input {
    width: 352px;
    height: .5rem;
    border: 0ch;
    padding: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    margin-bottom: 2px;
    margin-left: 2rem;
    margin-right: auto;
    color: #354463;
}
input::placeholder{
    /* width: 214px;
    height: 20px; */
    font-size: 1rem;
}
.footer-grid {
    display: flex;
    flex-direction: row;
    width: 100rem;
    margin-left: auto;
    margin-right: auto;
    gap: 8rem;

}

.name-brand {
    text-align: left;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    width: 192px;
    height: 81px;
    padding-top: 5rem;
    margin-left: 5rem;
    width: 74px;
    height: 11px;
}

.contact-us {
    
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    padding-top: 5rem;
    padding-left: 5rem;
    width: 126px;
    height: 74px;
    
}
.contact-us p{
    width: 95px;
    height: 14px;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;  
}
.underline{
    text-decoration: underline;
    width: 160px;
    height: 1px;
    color: #354463;
    
}
.location{
    width: 126px;
    height: 74px;
}
.location{
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
}
.follow-us-follow-fix {
   
    width: 68px;
    height: 11px;
}

.learn-more-learn-fix {
    grid-row: 2/3;
    grid-column: 2/3;
}

.footer-climate-change-txt {
    grid-row: 3/4;
    grid-column: 2/3;
    font-family: Flood;
    margin-right: 100px;
    text-align: right;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #354463;
    width: 181px;
    height: 136px;
    margin-right: 10rem;
    padding-top: 0rem
}

.Follow {

    width: 68px;
    height: 11px;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    text-decoration: none;
    padding-right: 5rem;
    margin-top: 5.8rem;
}
.Follow > p{
    width: 87px;
    height: 14px;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    text-decoration: underline;
}
.Follow > li > a{
    text-decoration: none;
}
.link {
    width: 62px;
    height: 110px;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    list-style: none;
}

input {
    background-color: #354463;
    border: none;
    border-bottom: 3px solid #C1F7D5;
    width: 60%;
    color: #FFFFFF;
}

.learn-more-learn-fix {
   margin-top: 5rem;

}
.learn-2{
    width: 95px;
    height: 14px;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
}
.learn_more > p{
    width: 87px;
    height: 14px;
    text-decoration: underline;
}
.learn_more > li > a{
    text-decoration: none;
 
}
.learn_more > p{
    width: 43px;
    height: 14px;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
}
select {
    background-color: #354463;
    border: none;
    border-bottom: 3px solid #C1F7D5;
    color: #FFFFFF;
}

::placeholder {
    color: #354463;
}

.Follow>li {
    list-style-type: none;
}

.learn_more>li {
    list-style-type: none;
}

textarea:focus,
input:focus {
    outline: none;
}