@font-face {
    font-family: Flood;
    src: url("Flood\ Std\ Regular/Flood Std Regular.otf") format("opentype");
}

html {
    font-size: 15px;
}

.header {
    /* width: 376px;
        height: 200px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 0%;
}

.contain {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    font: normal normal bold 1.2rem/1.46rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 1.5rem;
    font-size: 1.4rem;
    padding-top: 2.5rem;
}

.About>ul>li {
    grid-row: 1/2;
    grid-column: 2/3;
    list-style-type: none;
    text-align: left;
    font: normal normal 300 0.9rem/1.33rem Helvetica;
    letter-spacing: -0.00rem;
    color: #354463;
    opacity: 1;
    margin: 7px;
}

.donate_button {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 20.8rem;
    height: 2.6rem;
    margin-left: 1.6rem;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 6.6rem;
    opacity: 1;
    border: #C1F7D5;
    text-align: center;
    font: normal normal bold 1.2rem/1.46rem Helvetica;
    letter-spacing: 0px;
    color: #354463;
    cursor: pointer;
    text-decoration: none;
}

.button_text {
    text-decoration: none;
    color: #354463;

}

.main {
    background-image: url("/assets/home/annie-spratt-135307-unsplash@2x.png");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-size: 100% 100%;
    padding-left: 5%;
}

.main>h1 {
    grid-row: 1/2;
    grid-column: 1/3;
    width: 181px;
    height: 136px;
    font-family: Flood;
    margin-right: 6.6rem;
    text-align: left;
    font: normal normal normal 2.9rem/3.06rem Flood;
    letter-spacing: 0px;
    color: #ffffff;
}

.the_issue {
    grid-row: 2/3;
    grid-column: 1/3;
    background-color: #354463;
    color: #ffffff;
    height: 1.1rem;
    width: 15rem;
    text-align: center;
    padding-bottom: 2rem;
    width: 10rem;
    margin-left:10rem;
    margin-top: -2.8rem;
    
    margin-right: auto;
    /* margin-top: 10rem; */

}

.main .climate-1{
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    background-color: #ffffff;
    color: #354463;
    width: 640px;
    height: 309px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-top: -1rem;
}

.climate-1>p {
    width: 512px;
    height: 138px;
    text-align: left;
    font: normal normal bold 36px/46px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    
    margin-left: auto;
    margin-right: auto;
}

.climate-1>a {
    width: 376px;
    height: 16px;
    background: transparent url('img/Read more about this environmental and social cause.png') 0% 0% no-repeat padding-box;
    padding-left: 5%;
    width: 70%;
    color: #354463;
    margin-left: 1rem;
    margin-right: auto;
    padding-top: 2rem;
}

.take_action {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #C1F7D5;
    padding-left: 2rem;
    

}

.take_action_text {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: #354463;
    width: 10rem;
    height: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top:-1rem;
    
}

.take_action_text>p {
    text-align: center;
    font: normal normal normal 0.9rem/1.13rem Helvetica;
    letter-spacing: 0.037rem;
    color: #FFFFFF;
    padding-bottom: 1rem;

}

.learn {
    grid-row: 2/3;
    grid-column: 1/2;
    margin-left: 2rem;
}

.learn>h1 {
    width: 49px;
    height: 18px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    font-size: 1.5rem;
}

.learn>p {
    width: 256px;
    height: 52px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
}

.Volunteer {
    grid-row: 2/3;
    grid-column: 2/3;

}

.Volunteer>h1 {
    width: 49px;
    height: 18px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    font-size: 1.5rem;
}

.Volunteer>p {
    width: 256px;
    height: 52px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
}

.Share {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 2rem;
}

.Share>h1 {
    width: 49px;
    height: 18px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    font-size: 1.5rem;
}

.Share>p {
    width: 256px;
    height: 52px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
}

.Donate {
    grid-row: 3/4;
    grid-column: 2/3;

}

.Donate>h1 {
    width: 49px;
    height: 18px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    font-size: 1.5rem;
}

.Donate>p {
    width: 256px;
    height: 52px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
}

.what_we_do {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #354463;
}

.what {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: #FFFFFF;
    width: 10rem;
    justify-content: center;
    margin-right: auto;
    margin-left: 5rem;
    margin-top: 3rem;
}

.what>P {
    color: #354463;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    
}

.mission {
    grid-row: 2/3;
    grid-column: 1/3;
    text-align: center;
    width: 640px;
    height: 140px;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: 5rem;
    margin-right: auto;
    margin-bottom: 13rem;
}
.mission > p{
    text-align: left;
    font: normal normal bold 36px/46px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.inner_container {
    grid-row: 3/4;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFFFFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    
}

.inner_container>h3 {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 144px;
    height: 50px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: 3rem;
    margin-right: auto;
    /* padding-top: 15rem; */
}

.inner_container>p {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 246px;
    height: 112px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    margin-left: 3rem;
    margin-right: auto;
}

.inner_container>.read_more1 {
    grid-row:3/4;
    grid-column: 1/3;
    width: 152px;
    height: 40px;
    background-color: #C1F7D5;
    border-radius: 100px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 2rem;
}

.inner_container>.read_more1>p {
    width: 83px;
    height: 16px;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 2rem;

}

.image1 {
    grid-row: 3/4;
    grid-column: 1/3;
    background-image: url("/assets/home/tree-planting.png");
    background-repeat: no-repeat;
    width: 288px;
    height: 201px;
    margin-left: 8rem;
    margin-right: auto;
    margin-top: -3rem;

}

.inner_container2 {
    margin-top: 5rem;
    grid-row: 4/5;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFFFFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.inner_container2>h3 {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 144px;
    height: 50px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: 3rem;
    margin-right: auto;
}

.inner_container2>p {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 246px;
    height: 112px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    margin-left: 3rem;
    margin-right: auto;
}

.inner_container2>.read_more2 {
    grid-row:3/4;
    grid-column: 1/3;
    width: 152px;
    height: 40px;
    background-color: #C1F7D5;
    border-radius: 100px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 2rem;
}

.inner_container2>.read_more2>p {
    width: 83px;
    height: 16px;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 2rem;
}

.image2 {
    grid-row: 4/5;
    grid-column: 1/3;
    background-image: url("/assets/home/education-training.png");
    background-repeat: no-repeat;
    width: 288px;
    height: 201px;
    margin-left: 8rem;
    margin-right: auto;
    margin-top: 2rem;
}

.inner_container3 {
    margin-top: 5rem;
    grid-row: 5/6;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FFFFFF;
    background-color: #FFFFFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.inner_container3>h3 {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 144px;
    height: 50px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: 3rem;
    margin-right: auto;
}

.inner_container3>p {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 246px;
    height: 112px;
    text-align: left;
    font: normal normal 300 16px/24px Helvetica;
    letter-spacing: -0.16px;
    color: #354463;
    margin-left: 3rem;
    margin-right: auto;
}

.inner_container3>.read_more3 {
    grid-row:3/4;
    grid-column: 1/3;
    width: 152px;
    height: 40px;
    background-color: #C1F7D5;
    border-radius: 100px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 2rem;
}

.inner_container3>.read_more3>p {
    width: 83px;
    height: 16px;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    padding-left: 2rem;

}

.image3 {
    grid-row: 5/6;
    grid-column: 1/3;
    background-image: url("/assets/home/advocacy.png");
    background-repeat: no-repeat;
    width: 288px;
    height: 201px;
    margin-left: 8rem;
    margin-right: auto;
    margin-top: 2rem;
}

.climate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("/assets/home/did-you-know-background.png");
    width: 100%;
    margin-left: auto;

}

.climate>h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 193px;
    height: 228px;
    font-family: Flood;
    margin-right: 100px;
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #ffffff;
    margin-left: 5rem;

}

.climate>.take_action {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 156px;
    height: 40px;
    margin-left: 2.5rem;
    padding-bottom: 2rem;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    margin-bottom: 4rem;
}

.climate>.take_action>p {
    width: 134px;
    height: 16px;
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: auto;
    margin-right: auto;

}

.climate>.did_you_know {
    grid-row: 1/2;
    grid-column: 2/3;
    width: 160px;
    height: 40px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    background-color: #354463;
    
    margin-right: auto;
    margin-top: 7rem;
    margin-left: 6rem;
}

.climate>.did_you_know>p {
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.climate>.three_out_four {
    margin-top: 8rem;
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #FFFFFF;
    width: 384px;
    height: 152px;
    margin-left: auto;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
}

.climate>.three_out_four>h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 160px;
    height: 36px;
    text-align: left;
    font: normal normal bold 36px/46px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-bottom: 0rem;
    margin-left: 2rem;

}

.climate>.three_out_four>p {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 224px;
    height: 44px;
    background: transparent url('img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    margin-left: 2rem;
    margin-bottom: 2.5rem;
}

.climate>.three_out_four>.twiter {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-twitter-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-right: auto;

}

.climate>.three_out_four>.facebook {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-facebook-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;

}

.climate>.one_million {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #FFFFFF;
    width: 384px;
    height: 152px;
    margin-left: auto;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;

}

.climate>.one_million>h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 227px;
    height: 36px;
    text-align: left;
    font: normal normal bold 36px/46px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-bottom: 0rem;
    margin-left: 2rem;
}

.climate>.one_million>p {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 224px;
    height: 44px;
    background: transparent url('img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    margin-left: 2rem;
    margin-bottom: 2.5rem;

}

.climate>.one_million>.twiter {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-twitter-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;
}

.climate>.one_million>.facebook {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-facebook-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;

}

.climate>.thirty {
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: #FFFFFF;
    width: 384px;
    height: 152px;
    margin-left: auto;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
}

.climate>.thirty>h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 72px;
    height: 36px;
    text-align: left;
    font: normal normal bold 36px/46px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-bottom: 0rem;
    margin-left: 2rem;

}

.climate>.thirty>p {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 224px;
    height: 44px;
    background: transparent url('img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    margin-left: 2rem;
    margin-bottom: 2.5rem;

}

.climate>.thirty>.twiter {
    grid-row: 1/2;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-twitter-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;
}

.climate>.thirty>.facebook {
    grid-row: 2/3;
    grid-column: 2/3;
    background-image: url("/assets/home/iconmonstr-facebook-1.png");
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
    margin-top: 1rem;

}

.climate>.two_million {
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: #FFFFFF;
    width: 384px;
    height: 152px;
    margin-left: auto;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 2rem;
}

.climate>.two_million>h1 {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 227px;
    height: 36px;
    text-align: left;
    font: normal normal bold 36px/46px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-bottom: 0rem;
    margin-left: 2rem;
}

.climate>.two_million>p {
    grid-row: 2/3;
    grid-column: 1/2;
    width: 224px;
    height: 44px;
    background: transparent url('img/People living in poverty depend on agriculture for survival..png') 0% 0% no-repeat padding-box;
    margin-left: 2rem;
    margin-bottom: 2.5rem;

}

.climate>.two_million>.twiter {
    grid-row: 1/2;
    grid-column: 2/3;
    background-color: #C1F7D5;

    background-size: 100% 100%;
    margin-left: 2rem;
    margin-top: 1rem;
    padding-top: 2px;
    border-radius: 100%;

    text-align: center;
}

.climate>.two_million>.facebook {
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: #C1F7D5;
    margin-left: 2rem;
    margin-top: 1rem;

}

.two_million div {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #C1F7D5;
}

.two_million div img {
    margin-top: 10px;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.three_out_four div {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #C1F7D5;
}

.three_out_four div img {
    margin-top: 10px;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.one_million div {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #C1F7D5;
}

.one_million div img {
    margin-top: 10px;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.thirty div {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-left: 1.5rem;
    margin-top: 1rem;
    background-color: #C1F7D5;
}

.thirty div img {
    margin-top: 10px;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.our_story {
    background: #FFFFFF ;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
    margin-top: auto;
}

.story {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 160px;
    height: 40px;
    background-color: #354463;
    margin-left: 5rem;
    margin-right: auto;
    margin-top: 4rem;
    margin-left: 10rem;

}

.our_story>.story>p {
    width: 158px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.our_story>.story_image {
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url("/assets/home/lady-baby.png");
    background-repeat: no-repeat;
    width: 576px;
    height: 568px;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-left: 5rem;
    margin-top: 5rem;
}

.our_story>.story_text {
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: #354463;
    display: flex;
    flex-direction: column;
    width: 576px;
    height: 287px;
    margin-right: auto;
    margin-top: -12rem;
    margin-left: 15rem;
    margin-right: -25rem;
    padding-left: -2rem;
}

.our_story>.story_text>p {
    width: 489px;
    height: 106px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
}

.our_story>.story_text>.smaller_text {
    width: 287px;
    height: 14px;
    text-align: left;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #FFFFFF;
}

.story_button {
    grid-row: 3/4;
    grid-column: 1/2;
    background-color: #C1F7D5;
    border: none;
    border-radius: 100px;
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 2rem;
   
}

.story_button>p {
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    /* width: 156px;
        height: 22px; */
    padding-bottom: 40px;
    padding-top: -1rem;

}

.event_container {
   display: grid;
   grid-template-columns: 1fr 1fr;
    background: #354463;
    padding: 40px;
}

.event_container>.action {
    grid-row: 1/2;
    grid-column: 1/3;
    font-family: Flood;
    margin-right: 100px;
    width: 518px;
    height: 90px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.event_container>.even {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 153px;
    height: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    
    margin-right: auto;
    padding-bottom: 30px;

}

.event_container>.even>p {
    width: 160px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;

}

.event_container>.event_image {
    grid-row: 2/3;
    grid-column: 1/2;
    background-image: url("/assets/home/tree-planting.png");
    width: 288px;
    height: 288px;
    margin-left: auto;
    margin-right: auto;
}

.event_container>.earth {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 216px;
    height: 100px;
    text-align: center;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.earth>h3 {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: -6rem;

}
.event_container>.earth_text{
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 12rem;
    width: 280px;
    height: 170px;
}
.event_container>.earth_text>p {
    
    width: 313px;
    height: 128px;
    background: transparent url('img/Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem..png') 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF;
    margin-bottom: 3rem;
}
.event_container>.event{
    grid-row: 2/3;
    grid-column: 2/3;

}
.event_container>.event>.event_button {
    margin-top: 25rem;
    border: none;
    width: 156px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    text-align: center;
    margin-bottom: 2rem;


}

.event_container>.event>.event_button>p {

    width: 156px;
    height: 22px;
    text-align: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;

}

.event_container>.latest {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 153px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-left: 2rem;
    margin-right: auto;
}

.event_container>.latest>p {
    width: 160px;
    height: 18px;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;

}

.event_container>.latest_image {
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url("/assets/home/meeting.png");
    width: 288px;
    height: 288px;
    margin-left: auto;
    margin-right: auto;
}

.event_container>.earth_day {
    grid-row: 3/4;
    grid-column: 1/2;
    width: 286px;
    height: 64px;
    text-align: left;
    color: #FFFFFF;
    margin-right: auto;
    margin-top: 2rem;
    margin-left: 2rem;
}

.event_container>.earth_day>h3 {
    text-align: left;
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.event_container>.earth_text1 {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 2rem;
    margin-right: auto;
    width: 292px;
    height: 164px;
    margin-top: 9rem;
}

.event_container>.earth_text1>p {
    color: #FFFFFF;
    background: transparent url('img/Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mi felis, auctor vitae vestibulum vel, consequat eu dolor. Nam pellentesque euismod laoreet. Aliquam sed nisl porttitor nisl laoreet semper nec iaculis nibh. Curabitur in tortor lorem..png') 0% 0% no-repeat padding-box;
}

.event_container>.latest_button>.latest_button1 {
    width: 156px;
    height: 40px;
    background: #C1F7D5;
    margin-top: 20px;
    border-radius: 100px;
    border: none;
    margin-left: 2rem;
    margin-right: auto;
}

.subscribe {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #C1F7D5;
}

.subscribe h2 {
    margin-top: 0px;
    width: 448px;
    height: 59px;
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    margin-left: 2rem;
    margin-right: auto;
}

.subscribe button {
    width: 160px;
    height: 40px;
    margin-left: 3.5px;
    background-color: #354463;
    color: #C1F7D5;
    font: normal normal bold 16px/19px Helvetica;
    border: none;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
}

.subscribe input {
    width: 448px;
    height: 5px;
    border: 0ch;
    padding: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 100px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    color: #354463;
    margin-left: 2rem;
}

input ::placeholder{
    font-size: 2rem;
}
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 5rem;

}

.name-brand {
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    width: 94px;
    height: 62px;
    padding-top: 5rem;
    width: 74px;
    height: 11px;
}

.contact-us {
    grid-row: 1/2;
    grid-column: 2/3;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    padding-top: 5rem;
    padding-left: 5rem;
    width: 126px;
    height: 74px;
}

.follow-us-follow-fix {
    grid-row: 1/2;
    grid-column: 3/4;
    width: 68px;
    height: 11px;
    margin-top: 5rem;
}

.learn-more-learn-fix {
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: 5rem;
}

.footer-climate-change-txt {
    grid-row: 2/3;
    grid-column: 3/4;
    font-family: Flood;
    margin-right: 100px;
    text-align: right;
    font: normal normal normal 44px/46px Flood;
    letter-spacing: 0px;
    color: #354463;
    width: 181px;
    height: 136px;
    padding-right: 5rem;
    padding-top: 0rem
}

.Follow {

    width: 68px;
    height: 11px;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    text-decoration: none;
    padding-right: 5rem;
}

.link {
    width: 62px;
    height: 110px;
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    list-style: none;
}

input {
    background-color: #354463;
    border: none;
    border-bottom: 3px solid #C1F7D5;
    width: 60%;
    color: #FFFFFF;
}

.learn-more-learn-fix {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 80px;
    height: 11px;
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    text-decoration: none;
    padding-left: 5rem;

}

select {
    background-color: #354463;
    border: none;
    border-bottom: 3px solid #C1F7D5;
    color: #FFFFFF;
}

::placeholder {
    color: #354463;
}

.Follow>li {
    list-style-type: none;
}

.learn_more>li {
    list-style-type: none;
}

textarea:focus,
input:focus {
    outline: none;
}